.main-container {
  position: relative;
}

.image-container {
  position: relative;
  z-index: 1;
}

.article-popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}
