.image-container {
  position: relative;
  display: inline-block;
  width: fit-content;
}

.search-bar {
  position: absolute;
  top: 57%;
  left: 20%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 125, 0, 0.8);
  padding: 0px;
  width: 80%;
  max-width: 300px;
}

.search-input {
  width: 100%;
  height: 60px;
  font-size: 30px;
  padding: 0px;
}

.search-button {
  align-items: center;
  width: 100%;
  height: 30px;
  font-size: 20px;
  padding: 0px;
}

.responsive-image {
  width: 100%;
  height: auto;
}

.marker {
  width: 50px;
  height: 50px;
  background-color: grey;
}

.btn {
  align-items: center;
}



@media (max-width: 768px) {
  .responsive-image {
    width: 100%;
  }

  .search-bar {
    width: 90%;
    max-width: 300px;
  }
}

// @media (max-width: 480px) {
//   .responsive-image {
//     width: 100%;
//   }

//   .search-bar {
//     width: 100%;
//     max-width: 250px;
//   }

//   .search-input {
//     font-size: 16px;
//     padding: 6px;
//   }

//   .search-button {
//     font-size: 18px;
//     padding: 6px;
//   }
// }
