

  <%= @city %>
  <%= @topics.inspect %>

  <% @topics.each do |topic, count| %>
    <div class="card text-center">
      <div class="card-body">
        <h5 class="card-title"><%= topic %></h5>
        <p class="card-text">(no. of articles: <%= count %>)</p>
      </div>
    </div>
  <% end %>
