

<div class="image-container">
  <%= image_tag "Nomad.png", alt: 'Postcard', class: 'responsive-image' %>
  <div class="search-bar">
    <form id="search-form" action="/cities/search">
      <%# <input type="text" name="query" placeholder="Search for a city" class="search-input"> %>
      <%=text_field_tag :query,
      params[:query]%>
      <%# <button type="submit" class="search-button">Go</button> %>
      <input type="submit">
    </form>
  </div>
</div>




<div class="image-container">
  <%= image_tag "Map.png", alt: 'Map', class: 'responsive-image' %>
  <div id="map"></div>
</div>
