<div class="image-container">
  <%= image_tag "Nomad.png", alt: 'Postcard', class: 'responsive-image' %>
  <div class="search-bar">
    <form id="search-form" action="/cities/search">
      <%= text_field_tag :query, params[:query] %>
      <input type="submit">
    </form>
  </div>
    <div>
      <%= link_to 'Show Map', map_path, class: 'btn btn-dark' %>
    </div>
  </div>
</div>
