

<div class="image-container">
  <%= image_tag @image_path, alt: 'Postcard', class: 'responsive-image' %>
  <div class="search-bar">
    <form id="search-form">
      <input type="text" name="query" placeholder="Search for a city" class="search-input">
      <button type="submit" class="search-button">Go</button>
    </form>
  </div>
</div>




<div class="image-container">
  <%= image_tag @image_path2, alt: 'Map', class: 'responsive-image' %>
  <div id="map"></div>
</div>
