// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

// body {
//   background-color: rgba(250, 200, 114, 0.959);
// }


h2, h3 {
  font-family: Gill Sans, sans-serif	;
}

a {
  text-decoration: none;
  color: rgb(57, 56, 56);
}

h1 {
  font-family: Brush Script MT, Brush Script Std, cursive	;
  color: rgb(29, 29, 29);
}
